{% extends 'base.html' %}

{% block title %}{{movie.name}}{% endblock %}

{% block content %}
    <div class="col">
        <div class="card">
            {% if movie.poster %}
                <img src="{{ movie.poster.url }}" class="card-img-top poster" alt="...">
            {% else %}
                <img src="https://admin.itsnicethat.com/images/47jF0fMUh2AijBGlnuXPLkhYETg=/51851/format-webp%7Cwidth-2880/5530f2345c3e3c6776009210.png" class="card-img-top" alt="...">
            {% endif %}

            <div class="card-body">
                <p class="card-title">{{ movie.title }}</p>
            </div>
        </div>
    </div>
{% endblock %}